@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Concept TeaHouse</h1>
    <p class="lead">Concept Tea House offered you a space of relaxation.</p>
    <p><a href="https://localhost:44354/choice" class="btn btn-primary btn-lg">Start Your Order Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting help</h2>
        <p>
            If you are unable to view or using our system, please directly reach our kiosk.
        </p>
        
    </div>
    
</div>