@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Concept TeaHouse</h1>
    <p class="lead">Concept Tea House offered you a space of relaxation.</p>
    <p><a href="https://localhost:44354/choice" class="btn btn-primary btn-lg">Start Your Order Here &raquo;</a></p>
</div>

<div class="row">
    <div >
        <h2>Getting help</h2>
        <h3>
            If you got any difficulties while using our system, please directly reach our kiosk.
        </h3>
        
    </div>
    
</div>