@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://cdn.i-scmp.com/sites/default/files/styles/1200x800/public/d8/images/methode/2019/07/11/c1a5a1ec-a259-11e9-9a3c-98259c87fba2_image_hires_112936.JPG?itok=EJPBAucd&v=1562815793); height :50vh ;background-size: cover">
    <h1>Concept TeaHouse</h1>
    <p class="lead">Concept Tea House offered you a space of relaxation.</p>
    <p><a href="https://localhost:44354/choice" class="btn btn-primary btn-lg">Start Your Order Here &raquo;</a></p>
</div>

<div class="row">
    <div >
        <h2>Getting help</h2>
        <h3>
            If you got any difficulties while using our system, please directly reach our kiosk.
        </h3>
        
    </div>
    
</div>