@model TeaHouse.Models.Bill

@{
    ViewBag.Title = "Create";
}

<h2>Order Your Food and/or Tea</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Check on Add Item to add your selection and press "Complete" while finished, your selection would be ready in minutes</h4>

    <p>
        @Html.ActionLink("Add Item", "Add")
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Complete" class="btn btn-default" />
        </div>
    </div>

    
</div>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
