@model IEnumerable<TeaHouse.Models.OrderModels>

@{
    ViewBag.Title = "OrderView";
}

<h2>View Orders</h2>


<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            Ordered Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderTime)
    </td>
    
    <td>

        @Html.ActionLink("Details", "OrderDetails", new { id = item.Id }) |

    </td>
</tr>
}

</table>
